.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width : 1000px) {
    .forgetclasstop{
        width : 100vw !important
    }
    .forgetclass{
        width : 90% !important; 
    }
}
@media screen and (max-width : 451px){
    .forgetclasstop{
        font-size: 1rem;
    }
}
